// FOOTER

.Footer {
  position: relative;
  z-index: 100;
  background: #1d1d1d;
  padding-top: 3.2rem;
  color: #a0a3a3;
  min-height: 9.6rem;

  a {
    color: #a0a3a3;
  }

  &_Nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    padding-top: .8rem;
    padding-left: 3.2rem;

    &Item {
      display: inline-block;
      margin-right: 1.0rem;
    }
  }

  &_Partners {
    width: 48.0rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &Wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &_Rights {
    text-align: right;
    padding-top: .8rem;
    color: #95989A;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    margin-right: 5.6rem;
  }
}
