// VARIABLES

//$var: val;
$white: #fff;
$light: #eaeaea; //Gallery
$green: #68b534; //Sushi
$dark: #4d4d4d; //Tundora
$blue: #3399cc; //Curious Blue
$blue-light: #67B2D5;
//#787979-4
//444545-2
// f5 -2