footer.Footer
    .container-fluid
        .row.justify-content-between
            .col
                .Footer_Nav
                    .Footer_NavItem
                        a(href="javascript:void(0);") SEARCH
                    .Footer_NavItem
                        a(href="javascript:void(0);") LEGAL NOTICES
                    .Footer_NavItem
                        a(href="javascript:void(0);") MEDIA
                    .Footer_NavItem
                        a(href="javascript:void(0);") GENOSCOPER LABORATORIES

            .w-100.d-block.d-sm-none

            .col
                .Footer_PartnersWrapper
                    .Footer_Partners
                        .Partners_Item
                            a(href="javascript:void(0);")
                                span.Icon.Icon-LogoSmall
                                    img(src="img/icons-svg/ic-logo--01.svg" alt="")

                        .Partners_Item
                            a(href="javascript:void(0);")
                                span.Icon.Icon-RoyalCanin
                                    img(src="img/icons-svg/ic-rc-logo-01.svg" alt="")

                        .w-100.d-block.d-sm-none

                        .Partners_Item
                            a(href="javascript:void(0);")
                                span.Icon.Icon-MediSapiens
                                    img(src="img/icons-svg/ic-ms-logo-01.svg" alt="")

                        .Partners_Item
                            a(href="javascript:void(0);")
                                span.Icon.Icon-Genoscoper
                                    img(src="img/icons-svg/ic-gs-logo-01.svg" alt="")


            .w-100.d-block.d-sm-none

            .col
                .Footer_Rights
                    span 2018 All Rights Reserved Genoscoper Laboratories.
