div(class="modal fade" id="navModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered" role="document")
        .modal-content

            .modal-body
                header(class="HeaderMobile d-sm-none")
                    .container-fluid
                        .row
                            .col
                                div(class="HeaderMobile_Menu"  data-toggle="modal" data-target="#navModal")
                                    .Icon.Icon-MenuMobile
                                        img(src="img/icons-svg/ic-hamburger-mob-01.svg" alt="")

                            .col
                                .HeaderMobile_Title
                                    span MyCatDNA

                            .col
                                .HeaderMobile_Profile
                                    .Icon.Icon-Profile
                                        img(src="img/icons-svg/ic-profile-01.svg" alt="")

                section.Nav
                    .container-fluid
                        div(class="Nav_Close d-none d-sm-block" data-dismiss="modal" aria-label="Close")
                            a(href="javascript:void(0);")
                                img(src="./img/icons-svg/ic-close-navi-01.svg" alt="")

                        .container
                            div(class="row justify-content-center d-sm-flex d-none")
                                .col-auto
                                    .Start_Brand
                                        .Start_BigLogo
                                            .icon
                                                img(src="img/icons-svg/mcd-logo-navi-01.svg" alt="")

                                        .Start_Tagline DNA testing for cats worldwide

                            .Nav_Block
                                ul(class="row justify-content-start justify-content-md-center")
                                    li
                                        a(href="index.html")
                                            img(src="img/icons-svg/ic-home-navi-01.svg" alt="")
                                            span HOME

                                    li
                                        a(href="javascript:void(0);")
                                            img(src="img/icons-svg/ic-cats-profile-navi-01.svg" alt="")
                                            span CAT PROFILES

                                    li
                                        a(href="about.html")
                                            img(src="img/icons-svg/ic-mcd-navi-01.svg" alt="")
                                            span MYCATDNA®

                                    li
                                        a(href="sing-in.html")
                                            img(src="img/icons-svg/ic-sign-in-navi-01.svg" alt="")
                                            span SIGN IN

                                    li
                                        a(href="javascript:void(0);")
                                            img(src="img/icons-svg/ic-breeds-cats-navi-01.svg" alt="")
                                            span BREEDS

                                    li
                                        a(href="javascript:void(0);")
                                            img(src="img/icons-svg/ic-activate-navi-01.svg" alt="")
                                            span ACTIVATE

                                    li
                                        a(href="javascript:void(0);")
                                            img(src="img/icons-svg/ic-help-navi-01.svg" alt="")
                                            span HOW IT WORKS

                                    li
                                        a(href="shop.html")
                                            img(src="img/icons-svg/ic-shop-navi-01.svg" alt="")
                                            span SHOP

                                    li
                                        a(href="news.html")
                                            img(src="img/icons-svg/ic-news-navi-01.svg" alt="")
                                            span NEWS
                                    li
                                        a(href="breeders.html")
                                            img(src="img/icons-svg/ic-breeders-navi-01.svg" alt="")
                                            span MYCATDNA® <br>BREEDERS

                                    li
                                        a(href="javascript:void(0);")
                                            img(src="img/icons-svg/ic-contact-navi-01.svg" alt="")
                                            span CONTACT US
